.wrap {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 40px;
}

.linkWrap {
  margin-top: 20px;
}

.link {
  font-size: 16px;
  color: #0373f1;
}

.link:visited {
  color: #0373f1;
}

.text {
  margin-top: 40px;
}

.text a {
  color: #0373f1;
}

@media (max-width: 750px) {
  .text {
    text-align: left;
  }
}